/unit_test/output/contactSphere128_0.900000_180.000000_0.800000_.tiff
/unit_test/output/from-image.inr
/unit_test/output/isoVal_85_cc.tiff
/unit_test/output/isoVal_85_cc_1.tiff
/unit_test/output/isoVal_170_cc.tiff
/unit_test/output/isoVal_170_cc_1.tiff
/unit_test/output/isoVal_255_cc.tiff
/unit_test/output/isoVal_255_cc_1.tiff
/unit_test/output/isoVal_mapping.csv
